/*Css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main styling */

html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6em;
}

a{
    color: #333;
    text-decoration: none;
}

h1, h2, h3{
    padding-bottom: 20px;
}

p{
    margin: 10px 0;
}




/*Utility classes*/

.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.text-primary{
    color: #f7c08a;
}

.lead{
    font-size: 20px;
}

.btn{
    display: inline-block;
    font-size: 18px;
    color: white;
    background: #333;
    padding: 13px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background: #f7c08a;
    color: #333;
    
}

.btn-light{
    background: #f4f4f4;
    color: #333;
}

.bg-dark{
    background: #333;
    color: #fff;
}

.bg-light{
    background: #f4f4f4;
    color: #333;
}

.bg-primary{
    background: #f7c08a;
    color: #333;
}

.clr{
    clear:both;
}

/*Navbar */

.nav-container{
    background-color: #333;
    color: white;
    overflow: auto;
}

.nav-container .logo, .nav-container a{
    color: white;
}

.nav-container h1{
    float: left;
    padding-top: 20px;
}

.nav-container ul{
    float: right;
    list-style: none;
}

.nav-container ul li{
    float: left;
}

.nav-container ul li a{
    display: block;
    padding: 20px;
    text-align: center;
}

/*to indicate what page we currently are*/
.nav-container ul li a:hover, 
.nav-container ul li a.current{
    background: #444;
    color: #f7c08a;
}

/*Showcase */

.showcase{
    background: url("./img/showcase.jpg") no-repeat center center/cover;
    height: 600px;
}

.showcase .showcase-content{
    text-align: center;
    color: #fff;
    padding-top: 170px;
}

.showcase-content h1{
    font-size: 60px;
    line-height: 1.2em;
}

.showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}

/*Home info */

#home-info{
    height: 400px;
}

#home-info .info-img{
    float: left;
    width: 50%;
    background: url("./img/photo-1.jpg") no-repeat;
    min-height: 100%;
}

#home-info .info-content{
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}

#home-info .info-content p{
    padding-bottom: 30px;
}


/* Features */

.box{
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}

.box i{
    padding-bottom: 10px;
}

/*Main Footer*/

#main-footer{
    background: #444;
    color: white;
    padding: 15px;
    text-align: center;
}